h3{
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: aqua;
}

canvas {
    animation-name: shourja;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes shourja {
    from{box-shadow: 5px 5px 18px blue;}
    to{box-shadow: 5px 5px 18px yellowgreen;}
}